---
layout: default
title: "Careers"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start _careers section -->
<section class="zCore_it_service zCore_it_service_1 section_padding">
    <div class="container">
        <div class="row">
            {% for career in site.careers %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ career.link }}">
                    <div class="service_box service_box_1">
                        <div class="service_img">
                            <img src="{{ site.baseurl }}/assets/images/careers/{{ career.image }}" alt="">
                            <div class="service_icon">
                                <span class="{{career.icon}}"></span>
                                <i class="icon_btn fal fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="service_info">
                            <h4>{{career.title}}</h4>
                            <p style="text-align: justify; padding: 20px;">{{career.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End _careers section -->

<!-- start zCore_map section -->
<section class="zCore_map zCore_map_1 section_padding">
    <div class="map_pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="map_left_box">
                    <div class="map_box phone_box wow slideInLeft">
                        <div class="icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="icon_info">
                            <span>Phone Number</span>
                            <h2><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></h2>
                        </div>
                    </div>
                    <div class="map_img_box wow slideInUp">
                        <img src="{{ site.baseurl }}/assets/images/map_1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map_right_box">
                    <div class="map_img_box wow slideInUp">
                        <img src="{{ site.baseurl }}/assets/images/map_2.png" class="img-fluid" alt="">
                    </div>
                    <div class="map_box email_box wow slideInRight">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="icon_info">
                            <span>Email Address</span>
                            <h2><a href="mailto:{{site.email}}">{{site.email}}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_map section -->
<!-- Start call_to_action_3 section -->
<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span">We are rapidly growing</span>
                    <h2>Ready to join a team where you matter?</h2>
                    <span class="theme_span">Community - Care - Communications</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="/about/" class="zCore_btn qoute_btn_3">Learn More About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action_3 section -->
{% include footer_2.html %}
