---
layout: default
title: "About Us"
---

{% include header.html %}
{% include page_header_2.html %}
<!-- Start zCore_about section -->
<section class="zCore_about zCore_about_3 section_padding">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-6">
                <div class="about_img zCore_img about_img_3 wow slideInLeft" data-wow-delay="0.3s">
                    <!--                    <img src="{{relative_url}}/assets/images/about_4.jpg" class="img-fluid" alt="">-->
                    <!--                    <div class="overlay_img" style="margin-bottom: 10px;"></div>-->
                    <div class="about_left">
                        {% for item in site.about %}
                        {% if item.title == "25+ Total Years Of Excellence <br>In Government Software Contracting" %}
                        <h3 style="color: rgb(0, 0, 0);">{{ item.title }}</h3>
                        {% endif %}
                        <p>{{ item.detail }}</p>
                        <p>{{ item.text }}</p>
                        {% endfor %}
                        <div class="zCore_button wow slideInUp" data-wow-delay="0.1s">
                            <a href="/team/" class="zCore_btn" style="margin: 5px;">Meet the Team</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for item in site.about %}
            <div class="col-lg-6">
                <div class="about_img zCore_img about_img_3 wow slideInRight">
                    <div class="about_right" data-wow-delay="0.3s">
                        <div class="about_content about_content_3 zCore_content_box">
                            <h3>{{ item.description }}</h3>
                            <p>{{ item.extra_detail }}</p>
                        </div>
                        {% if forloop.first %}
                        <div class="zCore_button wow slideInUp" data-wow-delay="0.1s">
                            <a href="{{ item.link }}" class="zCore_btn" style="margin: 5px;">solutions</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End zCore_about section -->
<!---start zCore_history section-->
<section class="zCore_service zCore_service_3 light_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">history</span>
                    <h2>Who We Are</h2>
                </div>
            </div>
        </div>
        {% for page in site.about %}
        {% if page.title == "Our History" %}
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h7 class="theme_content text-justify custom-text-style">
                    {{ page.content | markdownify }}
                </h7>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!--end zCore_history section-->
<!---start zCore_approach section-->
<section class="zCore_service zCore_service_3 light_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">approach</span>
                    <h2>How We Work</h2>
                </div>
            </div>
        </div>
        {% for page in site.about %}
        {% if page.title == "Our Approach" %}
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h7 class="theme_content text-justify custom-text-style">
                    {{ page.content | markdownify }}
                </h7>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!--end zCore_approach section-->
<!-- Start zCore_service section -->
<section class="zCore_service zCore_service_3 light_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">service</span>
                    <h2>What We Do</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="categories_box service_box_3 wow slideInUp" data-wow-delay="0.2s">
                    <div class="categories_icon">
                        <img src="{{relative_url}}/assets/images/icon_3.png" class="img-fluid" alt="">
                    </div>
                    <div class="categories_info">
                        <span class="dot_c dot_c_2"></span>
                        {% for page in site.delivery %}
                        {% if page.title == "Deliver Innovation" %}
                        <h3>{{ page.title }}</h3>
                        <p>{{ page.description }}</p>
                        {% endif %}
                        {% endfor %}
                        <a href="/solutions/" class="categories_btn"><i class="far fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="categories_box service_box_3 wow slideInUp" data-wow-delay="0.4s">
                    <div class="categories_icon">
                        <img src="{{relative_url}}/assets/images/icon_4.png" class="img-fluid" alt="">
                    </div>
                    <div class="categories_info">
                        <span class="dot_c dot_c_2"></span>
                        {% for page in site.delivery %}
                        {% if page.title == "Deliver Insights" %}
                        <h3>{{ page.title }}</h3>
                        <p>{{ page.description }}</p>
                        {% endif %}
                        {% endfor %}
                        <a href="/blog/" class="categories_btn"><i class="far fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="categories_box service_box_3 wow slideInUp" data-wow-delay="0.6s">
                    <div class="categories_icon">
                        <img src="{{relative_url}}/assets/images/icon_5.png" class="img-fluid" alt="">
                    </div>
                    <div class="categories_info">
                        <span class="dot_c dot_c_2"></span>
                        {% for page in site.delivery %}
                        {% if page.title == "Deliver Results" %}
                        <h3>{{ page.title }}</h3>
                        <p>{{ page.description }}</p>
                        {% endif %}
                        {% endfor %}
                        <a href="/contact/" class="categories_btn"><i class="far fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start call_to_action_3 section -->
<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span"></span>
                    <h2>Bleeding Edge Software Solutions for Government</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="/contact/" class="zCore_btn qoute_btn_3">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action_3 section -->

{% include footer_2.html %}
