---
layout: default
title: "FAQ"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start zCore_faq section -->
<section class="zCore_faq zCore_same_faq zCore_faq_2 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq_accoridian faq_accoridian_2">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="ono_1_head_1">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_1" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Voice and Data Systems are crucial to the success?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_1" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_2">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_2" aria-expanded="true">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Internet connections that require expensive main?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_2" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_3">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_3" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Representing all of the major telecom companies?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_3" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_4">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_4" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Many companies provide laptops, cell phones
                                </a></h5>
                            </div>
                            <div id="ono_1_col_4" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_5">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_5" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    The audit includes cell phone, broadband, DSL?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_5" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq_accoridian faq_accoridian_2">
                    <div id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="ono_1_head_6">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_6" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Many companies provide laptops, cell phones?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_6" class="collapse" data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_7">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_7" aria-expanded="true">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    A no cost analysis of these computer support?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_7" class="collapse show" data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_8">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_8" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Geeks On Call typically saves businesses 10 to 30?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_8" class="collapse" data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_9">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_9" aria-expanded="false">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Questions about this new cost saving service can?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_9" class="collapse" data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="ono_1_head_10">
                                <h5><a href="#" data-toggle="collapse" data-target="#ono_1_col_10" aria-expanded="false" aria-controls="collapse5">
                                    <i class="far fa-plus"></i>
                                    <i class="far fa-minus"></i>
                                    Representing all of the major telecom companies?
                                </a></h5>
                            </div>
                            <div id="ono_1_col_10" class="collapse" data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_faq section -->
<!-- Start zCore_faq seciton -->
<section class="zCore_faq zCore_same_faq zCore_faq_3 section_padding light_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq_left_box wow slideInLeft">
                    <div class="faq_img_box zCore_img">
                        <img src="{{relative_url}}/assets/images/faq_2.jpg" class="img-fluid" alt="">
                        <div class="video_play">
                            <a href="https://www.youtube.com/watch?v=3AtDnEC4zak" class="play_btn"><i class="fal fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq_right_box">
                    <div class="faq_content_box">
                        <span class="theme_span">faq</span>
                        <h2>Freequently Asked <br>Questions.</h2>
                    </div>
                    <div class="faq_accoridian faq_accoridian_3">
                        <div id="accordion_3">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">Voice and Data Systems are crucial to the success?
                                        <i class="far fa-angle-up"></i>
                                        <i class="far fa-arrow-down"></i>
                                    </a></h5>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion_3">
                                    <div class="card-body">
                                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">Internet connections that require expensive main?
                                        <i class="far fa-angle-up"></i>
                                        <i class="far fa-arrow-down"></i>
                                    </a></h5>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordion_3">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">Representing all of the major telecom companies?
                                        <i class="far fa-angle-up"></i>
                                        <i class="far fa-arrow-down"></i>
                                    </a></h5>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion_3">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h5><a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false">Many companies provide laptops, cell phones
                                        <i class="far fa-angle-up"></i>
                                        <i class="far fa-arrow-down"></i>
                                    </a></h5>
                                </div>
                                <div id="collapse4" class="collapse" data-parent="#accordion_3">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_faq seciton -->
<!-- start zCore_map section -->
<section class="zCore_map zCore_map_1 section_padding">
    <div class="map_pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="map_left_box">
                    <div class="map_box phone_box wow slideInLeft" data-wow-delay="0.1s">
                        <div class="icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <!-- <div class="icon_info">
                            <span>Phone Number</span>
                            <h2><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></h2>
                        </div> -->
                    </div>
                    <div class="map_img_box wow slideInUp" data-wow-delay="0.1s">
                        <img src="{{relative_url}}/assets/images/map_1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map_right_box">
                    <div class="map_img_box wow slideInUp" data-wow-delay="0.1s">
                        <img src="{{relative_url}}/assets/images/map_2.png" class="img-fluid" alt="">
                    </div>
                    <div class="map_box email_box wow slideInRight" data-wow-delay="0.1s">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="icon_info">
                            <span>Email Address</span>
                            <h2><a href="mailto:{{site.email}}">{{site.email}}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_map section -->

{% include footer_2.html %}