---
layout: default
title: "Our History"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start onova_history section -->
<section class="onova_history section_padding">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="theme_title text-center">
					<span class="theme_span">25+ Year of experience</span>
					<h2>& Gain Huge Knowledge <br>In This Field</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="top_text text-center wow slideInUp" data-wow-delay=".1s">
					<h2>1990</h2>
				</div>
			</div>
		</div>
		<div class="history_row wow slideInUp">
            <div class="history_discription">
                <div class="history_box history_box_left">
                    <h2>Journey Start From <br>In Bustin.</h2>
                    <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments.  However, paying for full-time IT services and multiple telecom providers may be an overlooked and unnecessary expense. A no cost analysis of these computer support and telecommunication expenses can save companies money.</p>
                </div>
            </div>
            <div class="history_item">
                <div class="history_box history_box_right">
                    <img src="{{relative_url}}/assets/images/history_5.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="top_text text-center wow slideInUp">
					<h2>2000</h2>
				</div>
			</div>
		</div>
		<div class="history_row wow slideInUp">
            <div class="history_item">
                <div class="history_box history_box_right">
                    <img src="{{relative_url}}/assets/images/history_5.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="history_discription">
                <div class="history_box history_box_left">
                    <h2>Get Reward From Word<br>Camp In Australia</h2>
                    <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments.  However, paying for full-time IT services and multiple telecom providers may be an overlooked and unnecessary expense. A no cost analysis of these computer support and telecommunication expenses can save companies money.</p>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="history_box top_text text-center wow slideInUp">
					<h2>2005</h2>
				</div>
			</div>
		</div>
		<div class="history_row wow slideInUp">
            <div class="history_discription">
                <div class="history_box history_box_left">
                    <h2>We Hire More Then<br>1000+ Employee</h2>
                    <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments.  However, paying for full-time IT services and multiple telecom providers may be an overlooked and unnecessary expense. A no cost analysis of these computer support and telecommunication expenses can save companies money.</p>
                </div>
            </div>
            <div class="history_item">
                <div class="history_box history_box_right">
                    <img src="{{relative_url}}/assets/images/history_5.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="top_text text-center wow slideInUp">
					<h2>2012</h2>
				</div>
			</div>
		</div>
		<div class="history_row wow slideInUp">
            <div class="history_item">
                <div class="history_box history_box_right">
                    <img src="{{relative_url}}/assets/images/history_5.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="history_discription">
                <div class="history_box history_box_left">
                    <h2>We Lunch 100+<br>Creative Products</h2>
                    <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments.  However, paying for full-time IT services and multiple telecom providers may be an overlooked and unnecessary expense. A no cost analysis of these computer support and telecommunication expenses can save companies money.</p>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="top_text text-center wow slideInUp">
					<h2>2017</h2>
				</div>
			</div>
		</div>
		<div class="history_row wow slideInUp">
			<div class="history_discription">
				<div class="history_box history_box_left">
					<h2>Journey Just Begining for<br>Make Future</h2>
					<p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments.  However, paying for full-time IT services and multiple telecom providers may be an overlooked and unnecessary expense. A no cost analysis of these computer support and telecommunication expenses can save companies money.</p>
				</div>
			</div>
			<div class="history_item">
				<div class="history_box history_box_right">
					<img src="{{relative_url}}/assets/images/history_5.jpg" class="img-fluid" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="bottom_text text-center">
					<a href="#"><i class="far fa-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End onova_history section -->
<!-- Start call_to_action_3 section -->
<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span">call to action</span>
                    <h2>Representing All Of The Major <br>Telecom Companies</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="#" class="onova_btn qoute_btn_3">get a qoute</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action_3 section -->

{% include footer_2.html %}