---
layout: default
title: "Portfolios One"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start onova_portfolio section -->
<section class="onova_portfolio_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio_button text-center">
                    <button class="portfolio_btn btn_active" data-filter="*">all works</button>
                    <button class="portfolio_btn" data-filter=".design">Design (4) </button>
                    <button class="portfolio_btn" data-filter=".game">Game (2)</button>
                    <button class="portfolio_btn" data-filter=".website">website (10)</button>
                    <button class="portfolio_btn" data-filter=".interior">interior (6)</button>
                    <button class="portfolio_btn" data-filter=".consultancy">consultancy (8)</button>
                </div>
            </div>
        </div>
        <div class="portfolio_grid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Yoko loko</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_5.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Vebo Kimo</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_6.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Humber A.</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_7.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Yoko loko</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_8.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Vebo Kimo</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_9.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Humber A.</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_10.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Yoko loko</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_11.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Vebo Kimo</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_12.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Humber A.</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_13.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Yoko loko</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_14.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Vebo Kimo</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                    <div class="portfolio_box portfolio_box_1">
                        <div class="portfolio_img onova_img">
                            <img src="assets/images/portfolio_15.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio_info">
                            <div class="portfolio_text">
                                <span>ui/ux</span>
                                <h3>Humber A.</h3>
                            </div>
                            <div class="portfolio_icon">
                                <i class="fal fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="load_button text-center">
                    <a href="#" class="load_btn">load more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_portfolio section -->
<!-- Start call_to_action_3 section -->
<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span">call to action</span>
                    <h2>Representing All Of The Major <br>Telecom Companies</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="#" class="onova_btn qoute_btn_3">get a qoute</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action_3 section -->

{% include footer_2.html %}