---
layout: default
title: "Portfolios Three"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start zCore_portfolio section -->
<section class="zCore_portfolio zCore_portfolio_3 section_padding">
	<div class="container">
		<div class="row">
            <div class="col-lg-12">
                <div class="portfolio_button text-center">
                    <button class="portfolio_btn btn_active" data-filter="*">all works</button>
                    <button class="portfolio_btn" data-filter=".design">Design (4) </button>
                    <button class="portfolio_btn" data-filter=".game">Game (2)</button>
                    <button class="portfolio_btn" data-filter=".website">website (10)</button>
                    <button class="portfolio_btn" data-filter=".interior">interior (6)</button>
                    <button class="portfolio_btn" data-filter=".consultancy">consultancy (8)</button>
                </div>
            </div>
        </div>
        <div class="portfolio_grid">
        	<div class="row">
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">it farm</a>
        					<h3>Yokolov Vaska Ltd.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_4.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">design</a>
        					<h3>Yoko Pokimon Mo.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_5.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">website</a>
        					<h3>Heliam Belix Co.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_6.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">app</a>
        					<h3>Helix Framework</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_7.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">game</a>
        					<h3>Ovocode Gar.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_8.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">consultancy</a>
        					<h3>Hulk Bond Co.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_9.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">website</a>
        					<h3>NetFlix Ent.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_10.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">illustration</a>
        					<h3>Romania Br.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_11.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">app</a>
        					<h3>Deshi Bata Ltd.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_12.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">web development</a>
        					<h3>Neteler Ltd.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_13.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">app</a>
        					<h3>GoodLuck Ltd.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_14.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
        			<div class="portfolio_box portfolio_box_3">
        				<div class="portfolio_tag">
        					<a href="#" class="tag">illustration</a>
        					<h3>Alvon Deviton Co.</h3>
        				</div>
        				<div class="portfolio_img">
        					<img src="assets/images/case_15.jpg" class="img-fluid" alt="">
        				</div>
        				<div class="portfolio_info">
        					<p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services.</p>
        					<a href="#" class="btn_link">read more</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="load_button text-center">
                    <a href="#" class="load_btn">load more</a>
                </div>
            </div>
        </div>
	</div>
</section>
<!-- End zCore_portfolio section -->
<!-- Start call_to_action_3 section -->
<section class="call_to_action_3 dark_blue section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="call_title_3 ">
                    <span class="theme_span">call to action</span>
                    <h2>Representing All Of The Major <br>Telecom Companies</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="call_action_btn">
                    <a href="#" class="zCore_btn qoute_btn_3">get a qoute</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action_3 section -->

{% include footer_2.html %}
