---
layout: default
title: "Our Team"
---

{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start zCore_team section -->
<section class="zCore_team zCore_team_1 section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title team_title text-center">
                    <span class="theme_span">Crew</span>
                    <h2>Meet Our Team<br>at zCore Group</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/ezenteno.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Erick Zenteno</h3>
                        <p>Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/mbastos.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Michael Bastos</h3>
                        <p>Director of Engineering</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/mbarger.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Mackenzie Barger</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/mnau.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Michael Nau</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/tfreebern.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Tim Freebern</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/spardue2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Stephen Pardue</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="{{relative_url}}/assets/images/people/jstrang.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Jeremiah Strang</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team_join_button text-center">
            <a href="/careers" class="zCore_btn team_btn_1 wow slideInLeft" data-wow-duration="2s">Join zCore</a>
            <a href="/about" class="zCore_btn team_btn_2 wow slideInRight" data-wow-duration="2s">Learn more</a>
        </div>
    </div>
</section>
<!-- End zCore_team section -->
<!-- Start zCore_testimonial section -->
<!--extensible for testimonials, gallery, video, etc.-->
<!-- End zCore_testimonial section -->
<!-- Start zCore_blog_2 section -->
<section class="zCore_blog zCore_blog_2 bg_image" style="background-image: url({{relative_url}}/assets/images/backgrounds/head_bg_3a.jpg);">
    <div class="zCore_overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title overlay_title text-center">
                    <span class="theme_span">blog</span>
                    <h2>The Latest Insights, Ideas, And Perspectives</h2>
                </div>
            </div>
        </div>
        <div class="blog_area_2">
            <div class="row">
               {% for post in site.posts limit: "3" %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog_box blog_box_2">
                        {% if post.post_image %}
                        <div class="blog_img zCore_img">
                            <img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}">
                        </div>
                        {% endif %}
                        <div class="blog_info">
                            <div class="post_meta">
                                <ul>
                                    <li><a href="#"><i class="fal fa-user"></i> {{post.author}}</a></li>
                                    <li><a href="#"><i class="fal fa-calendar-alt"></i>  {{post.date | date_to_long_string }}</a></li>
                                </ul>
                            </div>
                            <div class="post_text">
                                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                                <p>{{post.content | strip_html | truncatewords: "20" }}</p>
                            </div>
                            <div class="post_tag">
                                <ul>
                                    <li><a href="/category/{{post.categories[0] | replace:" ","-" }}" class="tag">{{post.categories[0]}}</a></li>
                                    <li><a href="{{post.url}}" class="replay" aria-label="link to {{post.url}}"><i class="fal fa-reply"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End zCore_blog_2 section -->
<!-- Start call_to_action_3 section -->
{% include contact.html %}
<!-- End call_to_action_3 section -->

{% include footer_2.html %}

