<!-- Start onova_about section -->
<section class="light_bg onova_about onova_about_1 section_padding">
    <div class="about_container">
        <div class="about_left wow slideInLeft" data-wow-duration="1s">
            <img src="assets/images/about_1.png" alt="">
        </div>
        <div class="about_right">
            <div class="about_right_content onova_content">
                <span class="dot"></span>
                <span class="about_span">About Us</span>
                <h2>More Than 50M+<br>People Are Happy <br> with Us.</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h3>
                <div class="about_content_block">
                    <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments. </p>
                    <p>However, paying for full-time IT services and multiple telecom providers may be an aoverlooked and unnecessary expense. A no cost analysis of these computer support and telecomm unication expenses can save companies money.</p>
                </div>
            </div>
            <div class="onova_button  wow slideInUp">
                <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- End onova_about section -->