<!-- Start zCore_about_service section -->
<section class="zCore_about_service zCore_about_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="zCore_left_box">
                    <div class="service_box about_service_box hb_1 wow slideInUp" data-wow-delay="0.1s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_6.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_6.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h1>Mission</h1>
                                <p>To solve challenges by combining business understanding and collaborative
                                    modernization.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_2 wow slideInUp" data-wow-delay="0.3s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_7.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_7.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h1>Vision</h1>
                                <p>To build trusted partnerships to optimize business outcomes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_3 wow slideInUp" data-wow-delay="0.6s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_8.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_8.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h1>Values</h1>
                                <p>Trust, Understanding, Modernization.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_4 wow slideInUp" data-wow-delay="0.9s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_9.png"
                                     alt="history icon">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_9.1.png"
                                     alt="history icon white">
                            </div>
                            <div class="service_info">
                                <h1>History</h1>
                                <a href="/about" aria-label="Read More">
                                    <p>Read More</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="zCore_right_box">
                    <div class="about_right_content zCore_content">
                        <span class="dot"></span>
                        <span class="about_span">About Us</span>
                        <h2>zCore Group</h2>
                        <h3>Bleeding Edge Government Software Contracting.</h3>
                        <div class="about_content_block">
                            <p>zCore Group (zCG) is consulting firm specializing in business and IT consulting. Our
                                business consulting focuses on improving operational efficiency and business processes.
                                zCG's IT consulting leverages automation in coding for our partner's solution.</p>
                        </div>
                    </div>
                    <div class="zCore_button">
                        <a href="{{relative_url}}/about" class="zCore_btn about_btn">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_about_service section -->
