<!-- Start zCore_about section -->
<section class="zCore_about zCore_about_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="zCore_left_box wow slideInLeft" data-wow-duration="2s">
                    <div class="about_img_1 zCore_img">
                        <img src="{{relative_url}}/assets/images/about_2.jpg" class="img-fluid" alt="">
                        <div class="overlay_quote">
                            <i class="fal fa-quote-left"></i>
                        </div>
                    </div>
                    <div class="about_img_2 zCore_img">
                        <img src="{{relative_url}}/assets/images/about_3.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="zCore_right_box">
                    <div class="about_right_content">
                        <span class="theme_span">25 years of experience</span>
                        <h2>Many Companies <br>Provide Services</h2>
                        <h4>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones.</h4>
                    </div>
                    <div class="zCore_head_box zCore_head_box_1 zCore_head_box_2">
                        <div class="head_box_1 wow slideInUp" data-wow-duration="1s">
                            <div class="box_icon">
                                <i class="fal fa-campground"></i>
                            </div>
                            <div class="box_info">
                                <h3>Roi Solution</h3>
                                <p>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones</p>
                            </div>
                        </div>
                        <div class="head_box_1 wow slideInUp" data-wow-duration="1.8s">
                            <div class="box_icon">
                                <i class="pe-7s-diamond"></i>
                            </div>
                            <div class="box_info">
                                <h3>Software Creator</h3>
                                <p>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_about section -->