<!-- Start zCore_about_service section -->
<section class="zCore_about_service zCore_about_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="zCore_left_box">
                    <div class="service_box about_service_box hb_1 wow slideInUp" data-wow-delay="0.1s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_6.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_6.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>UI/UX Design</h4>
                                <p>Voice and Data Systems are crucial to the success or failure of most. </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_2 wow slideInUp" data-wow-delay="0.3s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_7.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_7.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Web Design</h4>
                                <p>Voice and Data Systems are crucial to the success or failure of most. </p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_3 wow slideInUp" data-wow-delay="0.6s">
                        <div class="overlay">
                        <div class="service_icon">
                            <img class="icon-theme" src="{{relative_url}}/assets/images/icon_8.png" alt="">
                            <img class="icon-white" src="{{relative_url}}/assets/images/icon_8.1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h4>Game Design</h4>
                            <p>Voice and Data Systems are crucial to the success or failure of most. </p>
                        </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_4 wow slideInUp" data-wow-delay="0.9s">
                        <div class="overlay">
                        <div class="service_icon">
                            <img class="icon-theme" src="{{relative_url}}/assets/images/icon_9.png" alt="">
                            <img class="icon-white" src="{{relative_url}}/assets/images/icon_9.1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h4>Interior Design</h4>
                            <p>Voice and Data Systems are crucial to the success or failure of most. </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="zCore_right_box">
                    <div class="about_right_content zCore_content">
                        <span class="dot"></span>
                        <span class="about_span">About Us</span>
                        <h2>More Than 50M+<br>People Are Happy <br> with Us.</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h3>
                        <div class="about_content_block">
                            <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell phones, and Internet connections that require expensive maintenance by internal IT departments. </p>
                            <p>However, paying for full-time IT services and multiple telecom providers may be an aoverlooked and unnecessary expense. A no cost analysis of these computer support and telecomm unication expenses can save companies money.</p>
                        </div>
                    </div>
                    <div class="zCore_button">
                        <a href="{{relative_url}}/about" class="zCore_btn about_btn">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_about_service section -->