<!-- news section starts -->
<div class="news-area bgs section-ptb" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="section-title text-center">
                    <h3 class="section-name pc">LATEST NEWS</h3>
                    <h2>My Latest Articles</h2>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
                        non proident, sunt in culpa qui officia
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-45">
            {% for post in site.posts limit: 2 %}
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog mb-30 pb-40 mb-lg-0">
                    {% if post.post_image %}
                    <div class="blog-img">
                        <a href="{{post.url}}"><img src="{{post.post_image}}" alt="news item 1"/></a>
                    </div>
                    {% endif %}
                    <div class="blog-meta">
                        <div class="date">
                            {{post.date | date_to_string}}
                        </div>
                    </div>
                    <div class="blog-details pl-30 mt-35 pr-30">
                        <div class="blog-title mb-10">
                            <a href="{{post.url}}">
                                <h2>{{post.title}}</h2>
                            </a>
                        </div>
                        <p class="mb-10">{{post.excerpt | strip_html | truncatewords: 25}}</p>
                        <div class="blog-button">
                            <a href="{{post.url}}">Read More &nbsp; <i class="fas fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-xl-4 col-lg-4 blog-lists-wrapper">
                {% for post in site.posts | offset: 2 | limit: 3 %}
                <div class="blog-item-small pr-20">
                    <div class="blog-meta">
                        <div class="date">
                            {{post.date | date_to_string}}
                        </div>
                    </div>
                    {% if post.post_image %}
                    <div class="blog-small-img mr-20 float-left">
                        <a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}"/></a>
                    </div>
                    {% endif %}
                    <div class="blog-small-description pt-20 pb-20">
                        <a href="{{post.url}}">
                            <h2>{{post.title | truncatewords: 5}}</h2>
                        </a>
                        <p>{{post.excerpt | strip_html | truncatewords: 10}}</p>
                    </div>
                </div>
                {% if forloop.index < 3 %}
                 <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- news section ends -->