<!-- Start call_to_action section -->
<section class="call_to_action_2 light_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">action</span>
                    <h2>get a qoute</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="action_form_area">
                    <form class="get_action_form">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form_group">
                                    <label>Your Name</label>
                                    <input type="text" class="form_control" placeholder="Enter your name" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form_group">
                                    <label>Your Email</label>
                                    <input type="email" class="form_control" placeholder="{{site.email}}" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form_group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form_control" placeholder="Enter your phone number">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn text-center">
                                    <button class="form_btn zCore_btn zCore_btn_2" type="submit">Get A call now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call_to_action section -->