<!-- Start onova_categories section -->
<section class="onova_categories onova_categories_1">
    <div class="container">
        <div class="categories_main">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-arc"></i>
                            <span class="icon_hover pe-7s-arc"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_1"></span>
                            <h3>Product Design</h3>
                            <p>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones</p>
                            <a href="#" class="categories_btn"><i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-diamond"></i>
                            <span class="icon_hover pe-7s-diamond"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_2"></span>
                            <h3>Software Develop</h3>
                            <p>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones</p>
                            <a href="#" class="categories_btn"><i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="categories_box categories_box_1">
                        <div class="categories_icon">
                            <i class="pe-7s-graph3"></i>
                            <span class="icon_hover pe-7s-graph3"></span>
                        </div>
                        <div class="categories_info">
                            <span class="dot_c dot_c_3"></span>
                            <h3>Tratagic Planing </h3>
                            <p>Voice and Data Systems are crucial to the success or failure of most businesses. any companies provide laptops, cell phones</p>
                            <a href="#" class="categories_btn"><i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_categories section -->