
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="contact_information_box">
        <div class="information_box">
            <div class="information_icon">
                <i class="{{ page.icon }}"></i>
            </div>
            <div class="information_info">
                <h3>{{ include.card.title }}</h3>
                {{ include.card.content | markdownify }}
            </div>
            <div class="info_button">
                <a href="{{ include.card.button_link }}" class="info_btn">{{ include.card.button_text }}</a>
            </div>
        </div>
    </div>
</div>
