<!-- Start zCore_contact section -->
<section class="zCore_contact zCore_contact_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span"></span>
                    <h2>Partner With zCore</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_form" style="margin-top: 50px">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your Name</label>
                                    <input type="text" class="form_control" placeholder="Enter Your Name" required>
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your Email address</label>
                                    <input type="email" class="form_control" placeholder="Enter Your Email" required>
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <label>Message</label>
                                    <textarea  class="form_control" placeholder="Enter Your Message" required></textarea>
                                    <i class="fal fa-edit"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group form_button">
                                    <button class="zCore_btn zCore_btn_2 form_btn">Get in Touch</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="zCore_right_box wow slideInRight"  data-wow-delay=".3s">
                    <div class="contact_img zCore_img">
                        <img src="{{relative_url}}/assets/images/api_computer.gif" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_contact section -->
