<!-- Start onova_contact section -->
<section class="onova_contact onova_contact_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">action</span>
                    <h2>Get A Quote</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your Name</label>
                                    <input type="text" class="form_control" placeholder="Enter Your Name" required>
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <label>Your Email adress</label>
                                    <input type="email" class="form_control" placeholder="Enter Your Email" required>
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <label>Message</label>
                                    <textarea  class="form_control" placeholder="Enter Your Message" required></textarea>
                                    <i class="fal fa-edit"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group form_button">
                                    <button class="onova_btn onova_btn_2 form_btn">get a Qoute</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="onova_right_box wow slideInRight"  data-wow-delay=".3s">
                    <div class="contact_img onova_img">
                        <img src="{{relative_url}}/assets/images/contact_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_contact section -->