<!-- Start zCore_contact section -->
<section class="zCore_contact zCore_contact_1 light_bg section_padding">
    <div class="overlay_img">
        <img src="assets/images/shape_c.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">Contact</span>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="contact_form">
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form_group">
                            <label>First Name</label>
                            <input type="text" class="form_control" placeholder="Enter your first name" required>
                            <i class="fal fa-user"></i>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_group">
                            <label>last Name</label>
                            <input type="text" class="form_control" placeholder="Enter your last name" required>
                            <i class="fal fa-user"></i>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_group">
                            <label>Phone Number</label>
                            <input type="text" class="form_control" placeholder="Enter your phone number" required>
                            <i class="fal fa-phone"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <label>Your Email</label>
                            <input type="email" class="form_control" placeholder="Enter your Email" required>
                            <i class="fal fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <label>Your subject</label>
                            <input type="text" class="form_control" placeholder="Enter your phone number" required>
                            <i class="fal fa-arrow-down"></i>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form_group">
                            <label>Your Message</label>
                            <textarea class="form_control" placeholder="Enter your message" name="message"></textarea>
                            <i class="fal fa-edit"></i>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="submit_btn text-center wow slideInUp" data-wow-duration="2s">
                            <button class="form_btn zCore_btn" type="submit">Get A Quote</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</section>
<!-- End zCore_contact section -->