<!-- counter area -->
<div class="counter-area">
    <div class="container">
        <div class="row mt-40">
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="counter-item text-center">
                    <h4 class="pc"><span class="count">25</span> +</h4>
                    <p>Years of Combined Experience</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="counter-item text-center">
                    <h4 class="pc"><span class="count">20</span> +</h4>
                    <p>Production Deploys</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="counter-item text-center">
                    <h4 class="pc"><span class="count">30</span> +</h4>
                    <p>Satisified Customers</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-item text-center">
                    <h4 class="pc"><span class="count">24</span> +</h4>
                    <p>Competing for Contracts</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter area ends -->