<!-- download_one_pager.html -->
<ul class="one_pager">
    <li>
        <a href="https://github.com/zCoreGroup/zcoregroup.github.io/raw/d8b292f0379235d0df52fcc05c66fb52884f0077/2305-0639_zCG%20Capability%20Statement%20B-W%20v.2.pdf" download="Software Development One Pager.pdf" title="Download our Capabilities One Pager">
            <div style="display: flex; align-items: center;">
                <p style="margin-right: 10px;">Download Capabilities Statement</p>
                <i class="fas fa-download"></i> <!-- There may be other icons in assets if you want to replace idk - or just remove it -->
            </div>
        </a>
    </li>
</ul>
