<!-- Start zCore_footer_widget area -->
<section class="zCore_footer_widget footer_widget_1 white_bg">
    <div class="container">
        <div class="widget_top_area widget_top_area_2">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer_logo">
                        <img src="assets/images/logo_4.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget_area widget_area_2">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <h5>Services</h5>
                        </div>
                        <div class="footer_widget_list">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="widget_list">
                                        <li><a href="#">Product Strategy</a></li>
                                        <li><a href="#">Product Engineering</a></li>
                                        <li><a href="#">Architecture</a></li>
                                        <li><a href="#">UX / UI Design</a></li>
                                        <li><a href="#">App Development</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="widget_list">
                                        <li><a href="#">Video Editing</a></li>
                                        <li><a href="#">Software Development</a></li>
                                        <li><a href="#">Game Design</a></li>
                                        <li><a href="#">Business Planning</a></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <h5>Contact</h5>
                        </div>
                        <div class="footer_contact_info">
                            <p><a href="#">info@example.com</a></p>
                            <p><a href="#">+8789 676 534 56 7</a></p>
                            <p>12/A, CDA Epic Hub, US <br>example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="widget_box news_widget widget_box_1">
                        <div class="footer_title">
                            <h5>News Feeds</h5>
                        </div>
                        <div class="news_post">
                            <div class="news_single">
                                <div class="news_thumb">
                                    <img src="assets/images/feed_1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="news_link">
                                    <h3><a href="#">Lorem ipsum dolor sit amet,consectetur adipisicing.</a></h3>
                                    <a href="#" class="post_admin"><i class="fal fa-user"></i> by admin</a>
                                </div>
                            </div>
                            <div class="news_single">
                                <div class="news_thumb">
                                    <img src="assets/images/feed_1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="news_link">
                                    <h3><a href="#">Lorem ipsum dolor sit amet,consectetur adipisicing.</a></h3>
                                    <a href="#" class="post_admin"><i class="fal fa-user"></i> by admin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End zCore_footer_widget area -->
<!-- Start zCore_footer area -->
<footer class="zCore_footer zCore_footer_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright_text">
                    <p>Copyright By @example - 2019</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_link">
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End zCore_footer area -->