        <!-- Start zCore_footer_widget area -->
        <section class="zCore_footer_widget footer_widget_1 white_bg">
            <div class="container">
                <div class="widget_top_area widget_top_area_2">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="footer_logo">
                                <img src="{{relative_url}}/assets/images/logos/logo_1.jpeg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="footer_social">
                                <ul>
                                    <li><a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="{{site.github_url}}"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget_area widget_area_2">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget_box widget_box_1">
                                <div class="footer_title">
                                    <h5>Contact</h5>
                                </div>
                                <div class="footer_contact_info">
                                    <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
                                    <p><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></p>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="widget_box news_widget widget_box_1">
                                    <div class="footer_title">
                                        <h5>The Latest Insights, Ideas, And Perspectives</h5>
                                    </div>
                                    <div class="news_post row"> <!-- Add a row here -->
                                        {% for post in site.posts limit:2 %}
                                        <div class="col-lg-6"> <!-- Add a column for each post -->
                                            <div class="news_single">
                                                <div class="news_thumb">
                                                    <img src="{{ post.image | relative_url }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="news_link">
                                                    <h3>
                                                        <a href="{{ post.url | relative_url }}">
                                                            <!-- Truncate the title to the first seven words -->
                                                            {% assign words = post.title | split: " " %}
                                                            {{ words | slice: 0, 5| join: " " }}[...]
                                                        </a>
                                                    </h3>
                                                    <a href="#" class="post_admin"><i class="fal fa-user"></i> by {{ post.author }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End zCore_footer_widget area -->
        <!-- Start zCore_footer area -->
        <footer class="zCore_footer zCore_footer_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright_text">
                            <p>Copyright By {{site.company_name}} - {{date | format: "Y"}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_link">
                            <ul>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End zCore_footer area -->
