<!-- Start zCore_footer_widget area -->
<section class="zCore_footer_widget footer_widget_1 bg_image footer_widget_3" style="background-image: url({{relative_url}}/assets/images/backgrounds/head_bg_3b.jpg);">
    <div class="zCore_overlay"></div>
    <div class="container">
        <div class="widget_area widget_area_2">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <img class="footer-logo" src="{{relative_url}}/assets/images/logos/logo_3_white.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <h5>Contact</h5>
                        </div>
                        <div class="footer_widget_list">
                            <ul class="widget_list">
                                <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
                                <!-- <li><a href="tel:{{site.phone_number}}">{{site.phone_number}}</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="widget_box social_widget widget_box_1">
                        <div class="footer_social">
                            <ul>
                                <li><a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="{{site.github_url}}"><i class="fab fa-github"></i></a></li>
                            </ul>
                            <!--sdvosb logo to go here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_footer_widget area -->
        <!-- Start zCore_footer area -->
        <footer class="zCore_footer zCore_footer_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright_text">
                            <p>Copyright {{ site.company_name }} - {{ 'now' | date: "%Y" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_link">
                            <ul>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End zCore_footer area -->
