<!-- Start zCore_header  -->
<header class="zCore_header zCore_header_3">
    <div class="header_container_3">
        <div class="zCore_logo_3">
            <a href="{{site.url}}"><img class="header-logo img-fluid" src="{{site.baseurl}}{{site.site_logo_four}}" alt="{{site.title}}"/></a>
        </div>
        <div class="zCore_main_menu zCore_main_menu_3">
          {% include navigation.html %}
        </div>
        <div class="menu_get_right">
            <div class="menu_get_icon search_icon">
                <a href="#" class="search_btn search-open">
                    Search
                    <i class="far fa-search"></i>
                </a>
            </div>
            <div class="menu_get_icon bar_icon menu_link_list">
                <a href="#" class="menu_icon" aria-label="menu icon"><i class="far fa-bars"></i></a>
            </div>
        </div>
    </div>
   {% include mobile_menu.html %}
</header>
<!-- End zCore_header  -->
