<!-- Start zCore_main section -->
<section class="zCore_main zCore_main_2">
    <div class="home_slider">
        <div class="single_slider bg_image" style="background-image: url(assets/images/slider_1.jpg);">
            <div class="zCore_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="zCore_main_content zCore_main_content_2">
                            <span>Your IT Business Partner</span>
                            <h1>zCore Mean<br>Solutions.</h1>
                        </div>
                        <div class="zCore_main_button">
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Read More</a>
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider bg_image" style="background-image: url(assets/images/slider_2.jpg);">
            <div class="zCore_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="zCore_main_content zCore_main_content_2">
                            <span>Your IT Business Partner</span>
                            <h1>zCore Mean<br>Solutions.</h1>
                        </div>
                        <div class="zCore_main_button">
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Read More</a>
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider bg_image" style="background-image: url(assets/images/slider_3.jpg);">
            <div class="zCore_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="zCore_main_content zCore_main_content_2">
                            <span>Your IT Business Partner</span>
                            <h1>zCore Mean<br>Solutions.</h1>
                        </div>
                        <div class="zCore_main_button">
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Read More</a>
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider bg_image" style="background-image: url(assets/images/slider_4.jpg);">
            <div class="zCore_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="zCore_main_content zCore_main_content_2">
                            <span>Your IT Business Partner</span>
                            <h1>zCore Mean<br>Solutions.</h1>
                        </div>
                        <div class="zCore_main_button">
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Read More</a>
                            <a href="#" class="zCore_btn zCore_btn_2 main_btn_1">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_main section -->