<!-- Start zCore_main section -->
<section class="zCore_main zCore_main_3 bg_image"
         style="background-image: url({{relative_url}}/assets/images/backgrounds/head_bg_3.jpg);">
    <div class="main_container main_container_2">
        <div class="main_row">
            <div class="main_left">
                <div class="zCore_content">
                    <span class="wow slideInDown" data-wow-duration="2s">zCore Group is SDVOSB Certified</span>
                    <h1 class="wow slideInUp" data-wow-duration="1s">A Trusted Partner</h1>
                    <p class="wow slideInLeft" data-wow-duration="3s">
                        zCore Group (zCG) is a top technology solutions provider, offering expertise in Software
                        Engineering, Systems Architecture, Data Analysis, and more. We prioritize efficiency and
                        mission-driven results through automation and innovation.
                        <br><br>
                        Founded by a Marine Combat Veteran, zCG proudly holds the distinction of being a verified
                        Service-Disabled Veteran-Owned Small Business (SDVOSB).
                    </p>
                    <p style="font-weight: bold; font-size: 20px">
                        Think Big. Act Bold. Achieve More.
                    </p>
                </div>
                <div class="zCore_main_button">
                    <a href="/solutions/" class="zCore_btn zCore_btn_2 zCore_btn_3 main_btn_1 wow slideInUp"
                       data-wow-duration="3s">Read More</a>
                </div>
            </div>
            <div class="main_right wow slideInRight" data-wow-duration="2s">
                <div class="main_img">
                    <img src="{{relative_url}}/assets/images/api_computer.gif" alt="api computer animation">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_main section -->
