<!-- Start zCore_main section -->
<section class="zCore_main zCore_main_3 bg_image" style="background-image: url({{relative_url}}/assets/images/backgrounds/head_bg_3.jpg);">
    <div class="main_container main_container_2">
        <div class="main_row">
            <div class="main_left">
                <div class="zCore_content">
                    <span class="wow slideInDown" data-wow-duration="2s">zCore Group is SDVOSB Certified</span>
                    <h1 class="wow slideInUp" data-wow-duration="1s">A Trusted Partner</h1>
                    <p class="wow slideInLeft" data-wow-duration="3s">We leverage existing resources while leading with authenticity and an ethical approach to serving our partners. zCore is a Service-Disabled Vetern-Owned Small Business (SDVOSB) certified by the U.S. Department of Veteran's Affairs.</p>
                </div>
                <div class="zCore_main_button">
                    <a href="#" class="zCore_btn zCore_btn_2 zCore_btn_3 main_btn_1 wow slideInUp" data-wow-duration="3s">Read More</a>
                    <!-- <a href="#" class="zCore_btn zCore_btn_3 play_btn main_btn_1 wow slideInRight" data-wow-duration="3.5s"><i class="far fa-play"></i></a> -->
                </div>
            </div>
            <div class="main_right wow slideInRight" data-wow-duration="2s">
                <div class="main_img">
                    <img src="{{relative_url}}/assets/images/sdvosb-large.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_main section -->