<!-- Start onova_main section -->
<section class="onova_main onova_main_3 bg_image" style="background-image: url({{relative_url}}/assets/images/head_bg_3.jpg);">
    <div class="main_container main_container_2">
        <div class="main_row">
            <div class="main_left">
                <div class="onova_content">
                    <span class="wow slideInDown" data-wow-duration="2s">First & The Best IT Company</span>
                    <h1 class="wow slideInUp" data-wow-duration="1s">We Provide<br>Business Plan</h1>
                    <p class="wow slideInLeft" data-wow-duration="3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="onova_main_button">
                    <a href="#" class="onova_btn onova_btn_2 onova_btn_3 main_btn_1 wow slideInUp" data-wow-duration="3s">Read More</a>
                    <a href="#" class="onova_btn onova_btn_3 play_btn main_btn_1 wow slideInRight" data-wow-duration="3.5s"><i class="far fa-play"></i></a>
                </div>
            </div>
            <div class="main_right wow slideInRight" data-wow-duration="2s">
                <div class="main_img">
                    <img src="{{relative_url}}/assets/images/head_3.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_main section -->