<!-- Start onova_main section -->
<section class="onova_main onova_main_1">
    <div class="onova_main_1_img"><img src="assets/images/head_right.jpg" alt=""></div>
    <div class="main_container main_container_1">
        <div class="main_row">
            <div class="main_left">
                <div class="onova_content">
                    <h1>Solve Business Challenges with</h1>
                    <mark><h2>Innovative Technologies</h2></mark>
                </div>
                <div class="onova_head_box onova_head_box_1">
                    <div class="head_box_1 wow slideInUp" data-wow-duration="2s">
                        <div class="box_icon">
                            <i class="fal fa-campground"></i>
                        </div>
                        <div class="box_info">
                            <h3>Roi Solution</h3>
                            <p>Voice and Data Systems are crucial to the success or failure.</p>
                        </div>
                    </div>
                    <div class="head_box_1 wow slideInUp" data-wow-duration="2s">
                        <div class="box_icon">
                            <i class="pe-7s-diamond"></i>
                        </div>
                        <div class="box_info">
                            <h3>Software Creator</h3>
                            <p>Voice and Data Systems are crucial to the success or failure.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_right wow slideInRight" data-wow-duration="1s">
                <div class="main_img">
                    <img src="assets/images/head_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_main section -->