    <!-- mobile menu -->
    <div class="mobile_menu mobile_menu3">
        <div class="row">
            <div class="col-6">
                <div class="mobile_menu_logo">
                    <a href="{{site.url}}" class="logo"><img class="img-fluid" src="{{site.site_logo_two}}" alt="{{site.title}}"/></a>
                </div>
            </div>
            <div class="col-6">
                <div class="mobile_menu_icon text-right">
                    <a href="#" class="search_btn search-open"><i class="far fa-search"></i></a>
                    <a href="#" class="menu_icon"><i class="far fa-bars"></i></a>
                </div>
            </div>
        </div>
        <div class="sidenav_menu">
            <div class="times_icon">
                <a href="/home/" class="menu_icon"><i class="far fa-times"></i></a>
            </div>
            <div class="brand_logo text-center">
                <a href="{{site.url}}" class="logo"><img src="{{site.site_logo_two}}" alt="{{site.title}}"/></a>
            </div>
            <div class="search-results">
                <ul id="results-container"></ul>
            </div>
            {% include mobile_navigation.html %}
        </div>
    </div>
    <!-- mobile menu -->
