<!-- Start onova_breadcrumb section -->
<section class="onova_breadcrumb" style="background-image: url({{relative_url}}{{page.page_header_bg}});">
    <div class="onova_overlay_2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_text">
                    <h2>{{page.title}}</h2>
                    <ul>
                        <li><a href="{{site.url}}">Home</a></li>
                        <li class="active"><a href="{{page.url}}">{{page.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_breadcrumb section -->