<div class="row">
    <div class="col-md-12">
        <div class="pagination">
            {% if paginator.total_pages > 1 %}
                <ul>
                  {% if paginator.previous_page %}
                  <li>
                    <a class="onova_btn qoute_btn_3" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer Posts</a>
                  </li>
                  {% endif %}
                  {% if paginator.next_page %}
                  <li>
                    <a class="onova_btn qoute_btn_3" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts</a>
                  </li>
                  {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>