<!-- portfolio area -->
<div class="portfolio-area section-ptb-2" id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="section-title text-center">
                    <h3 class="section-name pc">PORTFOLIO</h3>
                    <h2>My Masterpiece Collection</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida
                        non proident, sunt in culpa qui officia</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 mx-auto">
                <div class="pofo-cat mb-40 text-center">
                    <button class="active" data-filter="*">ALL</button>
                    <button data-filter=".cat1">UI / UX</button>
                    <button data-filter=".cat2">WEB DEVELOPMENT</button>
                    <button data-filter=".cat3">WEB RESEARCH</button>
                    <button data-filter=".cat4">MARKETING</button>
                </div>
                <div class="pofo-line d-sm-none"></div>
            </div>
        </div>
        <div class="row grid mt-20">
            <div class="col-md-3 col-sm-6 grid-item cat1 cat4">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/img/portfolio/1.png" alt="portfolio 1"/>
                    </div>
                    <div class="overlay">
                        <a href="assets/img/portfolio/1.png">
                            <img class="m-auto" src="/assets/img/portfolio/icon.png" alt="plus icon"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 grid-item cat2 cat3">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/img/portfolio/3.png" alt="portfolio 3">
                    </div>
                    <div class="overlay">
                        <a href="assets/img/portfolio/3.png">
                            <img src="/assets/img/portfolio/icon.png" alt="plus icon"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 grid-item grid-item-4 cat4">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/img/portfolio/4.png" alt="portfolio 4"/>
                    </div>
                    <div class="overlay">
                        <a href="assets/img/portfolio/4.png">
                            <img src="/assets/img/portfolio/icon.png" alt="plus icon"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 grid-item cat3">
                    <div class="portfolio-wrapper mb-30">
                        <div class="portfolio-thumb">
                            <a href="portfolio-details.html">
                                <img src="/assets/img/portfolio/2.png" alt="portfolio 4"/>
                            </a>
                        </div>
                        <div class="overlay">
                            <a href="/assets/img/portfolio/2.png">
                                <img src="/assets/img/portfolio/icon.png" alt="plus icon"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio area ends -->