<!-- Start onova_portfolio section -->
<section class="onova_portfolio onova_portfolio_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">portfolio</span>
                    <h2>case study</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="case_study_slide">
        <div class="case_single onova_img">
            <img src="/assets/images/blog/01.jpg" class="img-fluid" alt="">
            <div class="case_overlay"></div>
            <div class="case_content">
                <div class="case_tag">
                    <a href="#" class="tag">Software, </a>
                    <a href="#" class="tag">UI/UX</a>
                </div>
                <h3>Calibon: Elbon Mania</h3>
            </div>
        </div>
        <div class="case_single onova_img">
            <img src="assets/images/blog/02.jpg" class="img-fluid" alt="">
            <div class="case_overlay"></div>
            <div class="case_content">
                <div class="case_tag">
                    <a href="#" class="tag">Software, </a>
                    <a href="#" class="tag">UI/UX</a>
                </div>
                <h3>Calibon: Elbon Mania</h3>
            </div>
        </div>
        <div class="case_single onova_img">
            <img src="assets/images/blog/03.jpg" class="img-fluid" alt="">
            <div class="case_overlay"></div>
            <div class="case_content">
                <div class="case_tag">
                    <a href="#" class="tag">Software, </a>
                    <a href="#" class="tag">UI/UX</a>
                </div>
                <h3>Calibon: Elbon Mania</h3>
            </div>
        </div>
        <div class="case_single onova_img">
            <img src="/assets/images/blog/04.jpg" class="img-fluid" alt="">
            <div class="case_overlay"></div>
            <div class="case_content">
                <div class="case_tag">
                    <a href="#" class="tag">Software, </a>
                    <a href="#" class="tag">UI/UX</a>
                </div>
                <h3>Calibon: Elbon Mania</h3>
            </div>
        </div>
        <div class="case_single onova_img">
            <img src="/assets/images/blog/05.jpg" class="img-fluid" alt="">
            <div class="case_overlay"></div>
            <div class="case_content">
                <div class="case_tag">
                    <a href="#" class="tag">Software, </a>
                    <a href="#" class="tag">UI/UX</a>
                </div>
                <h3>Calibon: Elbon Mania</h3>
            </div>
        </div>
    </div>
</section>
<!-- End onova_portfolio section -->