<!-- Start zCore_portfolio section -->
<section class="zCore_portfolio zCore_portfolio_home zCore_portfolio_1" style="background-image: url(assets/images/portfolio_bg_1.png);" id="portfolio_filter">
    <div class="portfolio_main_wrapper portfolio_main_wrapper_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="theme_title text-center">
                        <span class="theme_span">portfolio</span>
                        <h2>Case Study</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio_button text-center">
                        <button class="portfolio_btn btn_active" data-filter="*">all works</button>
                        <button class="portfolio_btn" data-filter=".design">Design (4) </button>
                        <button class="portfolio_btn" data-filter=".game">Game (2)</button>
                        <button class="portfolio_btn" data-filter=".website">website (10)</button>
                        <button class="portfolio_btn" data-filter=".interior">interior (6)</button>
                        <button class="portfolio_btn" data-filter=".consultancy">consultancy (8)</button>
                    </div>
                </div>
            </div>
            <div class="portfolio_grid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Yoko loko</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Vebo Kim</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Humber A.</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_4.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Yoko loko</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_5.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Humber A.</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio_single">
                        <div class="portfolio_box portfolio_box_1">
                            <div class="portfolio_img zCore_img">
                                <img src="assets/images/portfolio_6.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="portfolio_info">
                                <div class="portfolio_text">
                                    <span>ui/ux</span>
                                    <h3>Vebo Kim</h3>
                                </div>
                                <div class="portfolio_icon">
                                    <i class="fal fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zCore_counterup zCore_counterup_1 wow slideInLeft"  data-wow-duration="1s">
                <div class="counterup_container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="counter_box counter_box_1">
                                <div class="counter_icon">
                                    <i class="pe-7s-users"></i>
                                </div>
                                <div class="counter_info">
                                    <h2><span class="counter">786</span>+</h2>
                                    <h6>Happy Clients</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="counter_box counter_box_1">
                                <div class="counter_icon">
                                    <i class="pe-7s-helm"></i>
                                </div>
                                <div class="counter_info">
                                    <h2><span class="counter">938</span>+</h2>
                                    <h6>Product Launch</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="counter_box counter_box_1">
                                <div class="counter_icon">
                                    <i class="pe-7s-help2"></i>
                                </div>
                                <div class="counter_info">
                                    <h2><span class="counter">1399</span>+</h2>
                                    <h6>Cup Of Coffee</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="counter_box counter_box_1">
                                <div class="counter_icon">
                                    <i class="pe-7s-paper-plane"></i>
                                </div>
                                <div class="counter_info">
                                    <h2><span class="counter">100</span>+</h2>
                                    <h6>Awards Winning</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_portfolio section -->