<!-- Start onova_pricing section -->
<section class="onova_pricing onova_pricing_1 section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">Price & Plans</span>
                    <h2>Price & Plans</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing_box pricing_box_1 box_active">
                    <div class="pricing_img pricing_img_1"></div>
                    <div class="pricing_img pricing_img_2" style="background-image: url({{relative_url}}/assets/images/pricing_bg_1.jpg);"></div>
                    <div class="pricing_head">
                        <span>New Value</span>
                        <h3>Free & Basic Plans</h3>
                        <p>Representing all of the major telecom companies Geeks.</p>
                    </div>
                    <div class="price_tag">
                        <h2>$0 <span>/Month</span></h2>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>Voice and Data Systems Crucial to the success</li>
                            <li>Failure of most</li>
                            <li>IT businesses</li>
                            <li>Companies provide Internet connections</li>
                            <li>Maintenance by internal</li>
                        </ul>
                    </div>
                    <a href="#" class="pricing_btn"><i class="far fa-arrow-right"></i></a>
                    <div class="pricing_button">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing_box pricing_box_1">
                    <div class="pricing_img pricing_img_1"></div>
                    <div class="pricing_img pricing_img_2" style="background-image: url({{relative_url}}/assets/images/pricing_bg_1.jpg);"></div>
                    <div class="pricing_head">
                        <span class="color_1">Trend</span>
                        <h3>Advanced Plans</h3>
                        <p>Representing all of the major telecom companies Geeks.</p>
                    </div>
                    <div class="price_tag">
                        <h2>$19.99 <span>/Month</span></h2>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>Voice and Data Systems Crucial to the success</li>
                            <li>Failure of most</li>
                            <li>IT businesses</li>
                            <li>Companies provide Internet connections</li>
                            <li>Maintenance by internal</li>
                        </ul>
                    </div>
                    <div class="pricing_button">
                        <a href="#" class="pricing_btn"><i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing_box pricing_box_1">
                    <div class="pricing_img pricing_img_1"></div>
                    <div class="pricing_img pricing_img_2" style="background-image: url({{relative_url}}/assets/images/pricing_bg_1.jpg);"></div>
                    <div class="pricing_head">
                        <span>New Value</span>
                        <h3>Team Member Plans</h3>
                        <p>Representing all of the major telecom companies Geeks.</p>
                    </div>
                    <div class="price_tag">
                        <h2>$99.99 <span>/Month</span></h2>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>Voice and Data Systems</li>
                            <li>Crucial to the success</li>
                            <li>Failure of most</li>
                            <li>IT businesses</li>
                            <li>Companies provide</li>
                            <li>Internet connections</li>
                            <li>Maintenance by internal</li>
                        </ul>
                    </div>
                    <div class="pricing_button">
                        <a href="#" class="pricing_btn"><i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_pricing section -->