<!-- services area -->
<div class="services-area section-ptb bgs" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="section-title text-center">
                    <h3 class="section-name pc">About</h3>
                    <h2>zCore Group</h2>
                    <p>
                        zCore Group (zCG) is consulting firm specializing in business and IT consulting. Our business consulting focuses on improving operational efficiency and business processes. zCG's IT consulting leverages automation in coding for our partner's solution. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row service-row mt-45">
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="project-card text-center bgp">
                    <div class="icon mb-20">
                        <img src="/assets/img/icons/pen.png" alt="design" />
                        <img class="d-none" src="/assets/img/icons/pen-yellow.png" alt="design" />
                    </div>
                    <div class="skill-project">
                        <h4 class="mb-5">Our Mission</h4>
                        <p>To solve challenges by combining business understanding and collaborative modernization.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="project-card text-center bgp">
                    <div class="icon mb-20">
                        <img src="/assets/img/icons/code-white.png" alt="design" />
                        <img class="d-none" src="/assets/img/icons/code.png" alt="design" />
                    </div>
                    <div class="skill-project">
                        <h4 class="mb-5">Our Vision</h4>
                        <p>To build trusted partnerships to optimize business outcomes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="project-card text-center bgp">
                    <div class="icon mb-20">
                        <img src="/assets/img/icons/search.png" alt="design" />
                        <img class="d-none" src="/assets/img/icons/search-yellow.png" alt="design" />
                    </div>
                    <div class="skill-project">
                        <h4 class="mb-5">Our Values</h4>
                        <p>Trust, Understanding, Modernization</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="project-card text-center bgp">
                    <div class="icon mb-20">
                        <img src="/assets/img/icons/marketing-white.png" alt="design" />
                        <img class="d-none" src="/assets/img/icons/marketing.png" alt="design" />
                    </div>
                    <div class="skill-project">
                        <h4 class="mb-5">Our History</h4>
                        <p>Read More</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include countdown.html %}
</div>
<!-- services area ends -->