<!-- Start zCore_service section -->
<section class="why_choose why_choose_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">solutions</span>
                    <h2>What zCG Does</h2>
                </div>
            </div>
        </div>
        <div class="choose_slide_1">
         {% for service in site.services %}
            <div class="single_service_list">
                <div class="choose_box choose_box_2 zCore_box">
                    <a href="{{service.link}}" class="choose_box_bg bg_image" style="background-image:url({{relative_url}}{{service.apps_logo}});">
                        <div class="choose_content_1">
                            <i class="{{service.apps_icon}}"></i>
                            <h4>{{service.title}}</h4>
                            <p>{{service.description}}</p>
                            <span class="choose_btn">Read More</span>
                        </div>
                    </a>
                    <div class="choose_info bg_image"  style="background-image:url({{relative_url}}{{service.apps_logo}});">
                        <div class="choose_overlay"></div>
                        <div class="choose_content_2">
                            <i class="{{service.apps_icon}}"></i>
                            <h4>{{service.title}}</h4>
                        </div>
                    </div>
                </div>
                {% if service.related_app %}
                <div class="choose_box choose_box_2 zCore_box">
                    <a href="{{service.related_app.link}}" class="choose_box_bg bg_image" style="background-image:url({{relative_url}}{{service.related_app.apps_logo}});">
                        <div class="choose_content_1">
                            {{service.related_app.apps_icon}}
                            <h4>{{service.related_app.title}}</h4>
                            <p>{{service.related_app.description}}</p>
                            <span class="choose_btn">Read More</span>
                        </div>
                    </a>
                    <div class="choose_info bg_image"  style="background-image:url({{relative_url}}{{service.related_app.apps_logo}});">
                        <div class="choose_overlay"></div>
                        <div class="choose_content_2">
                            {{service.related_app.apps_icon}}
                            <h4>{{service.related_app.title}}</h4>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End zCore_service section -->
