<!-- Start onova_service section -->
<section class="onova_service onova_service_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme_title">
                    <span class="theme_span">service</span>
                    <h2>what we do</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="service_slide">
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>
        <div class="service_box service_box_2">
            <div class="service_head">
                <h3><span class="pe-7s-photo-gallery"></span>Product Design</h3>
                <p>Representing all of the major telecom companies Geeks On Call finds the right service and the best rates for their.</p>
            </div>
            <div class="service_body">
                <ul class="service_features">
                    <li><i class="pe-7s-paint"></i><span>Graphic Design</span></li>
                    <li><i class="pe-7s-target"></i><span>Web Design</span></li>
                    <li><i class="pe-7s-add-user"></i><span>Consultancy</span></li>
                    <li><i class="pe-7s-joy"></i><span>Game Design</span></li>
                    <li><i class="pe-7s-network"></i><span>Software Development</span></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End onova_service section -->