<!-- Start zCore_service section -->
<section class="zCore_service zCore_service_1 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title text-center">
                    <span class="theme_span">sevices</span>
                    <h2>What we do</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_box service_box_1">
                    <a class="service_img zCore_img" href="#">
                        <img src="assets/images/service_1.jpg" alt="">
                        <div class="service_icon">
                            <span class="pe-7s-arc"></span>
                            <i class="icon_btn fal fa-arrow-right"></i>
                        </div>
                    </a>
                    <div class="service_info">
                        <h4>Product Engineering</h4>
                        <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell</p>
                        <h6>01</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_box service_box_1">
                    <a class="service_img zCore_img" href="#">
                        <img src="assets/images/service_2.jpg" alt="">
                        <div class="service_icon">
                            <span class="pe-7s-diamond"></span>
                            <i class="icon_btn fal fa-arrow-right"></i>
                        </div>
                    </a>
                    <div class="service_info">
                        <h4>UI/UX Strategy</h4>
                        <p>Graphic Desingn <br>Web Design & Development <br>Search Engine Optimization</p>
                        <h6>02</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_box service_box_1">
                    <a class="service_img zCore_img" href="#">
                        <img src="assets/images/service_3.jpg" alt="">
                        <div class="service_icon">
                            <span class="pe-7s-hammer"></span>
                            <i class="icon_btn fal fa-arrow-right"></i>
                        </div>
                    </a>
                    <div class="service_info">
                        <h4>Big Data & Analytics</h4>
                        <p>Voice and Data Systems are crucial to the success or failure of most businesses. Many companies provide laptops, cell</p>
                        <h6>03</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_service section -->