<!-- Start zCore_skills seciton -->
<section class="zCore_skill zCore_skill_1">
    <div class="container">
        <div class="zCore_skill_area">
            <div class="skill_left">
                <div class="skill_content">
                    <span>Our skills</span>
                    <h2>We Can Take <br>Type Effort</h2>
                </div>
                <div class="progress_area">
                    <div class="progress_single">
                        <div class="progress-title">
                            <h5>Web design <span style="float: right;">47%</span></h5>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color_1 animated slideInLeft" style="width: 47%;"></div>
                        </div>
                    </div>
                    <div class="progress_single">
                        <div class="progress-title">
                            <h5>web development <span style="float: right;">80%</span></h5>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color_2 animated slideInLeft" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="progress_single">
                        <div class="progress-title">
                            <h5>UI/UX Design <span style="float: right;">59%</span></h5>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color_3 animated slideInLeft" style="width: 59%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill_right"></div>
        </div>
    </div>
</section>
<!-- End zCore_skills seciton -->