<!-- slider area -->
<div class="slider-area">
    <div class="slider-activator">
        <div class="slide-item">
            <div class="container pt-120 pl-xl-0 pr-0">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-5 pl-xl-0">
                        <div class="slider-left">
                            <div class="name">
                                <h1>zCore <br /> Group<span class="pc">.</span></h1>
                            </div>
                            <div class="dash"></div>
                            <div class="social-links mb-40">
                                <a href="https://twitter.com/zcoregroup">Twitter</a> | <a
                                    href="https://www.linkedin.com/company/zcoregroup/">LinkedIn</a> <br />
                            </div>
                            <div class="slider-cta">
                                <a href="#contact" class="ct-btn js-scroll-trigger">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8 col-7 pl-0">
                        <div class="profile-pic">
                            <img class="img-fluid" src="assets/img/slider/capital-large.webp" alt="zCore Group" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8 slider-area-intro">
                        <div class="into-area">
                            <div class="section-title">
                                <h3 class="section-name pc">INTRODUCTION</h3>
                                <h2>A Trusted Partner</h2>
                                <p class="pr-20">
                                    We leverage existing resources while leading with authenticity and an ethical approach to serving our partners.
                                </p>
                            </div>
                            <div class="intro-button">
                                <a href="#services" class="btn-animation mr-btn js-scroll-trigger">Learn more &nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="container pt-120 pl-xl-0 pr-0">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-5 pl-xl-0">
                        <div class="slider-left">
                            <div class="name">
                                <h1>zCore <br /> Group<span class="pc">.</span></h1>
                            </div>
                            <div class="dash"></div>
                            <div class="social-links mb-40">
                                <a href="https://twitter.com/zcoregroup">Twitter</a> | <a
                                    href="https://www.linkedin.com/company/zcoregroup/">LinkedIn</a> <br />
                            </div>
                            <div class="slider-cta">
                                <a href="#contact" class="ct-btn js-scroll-trigger">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8 col-7 pl-0">
                        <div class="profile-pic">
                            <img class="img-fluid" src="assets/img/slider/sdvosb-large.png" alt="zCore Group" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8 slider-area-intro">
                        <div class="into-area">
                            <div class="section-title">
                                <h3 class="section-name pc">INTRODUCTION</h3>
                                <h2>SDVOSB Certified</h2>
                                <p class="pr-20">
                                    We are a Service-Disabled Veteran-Owned Small Business (SDVOSB) certified by the U.S. Department of Veterans Affairs.
                                </p>
                            </div>
                            <div class="intro-button">
                                <a href="#services" class="btn-animation mr-btn js-scroll-trigger">Learn more &nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider area ends -->