<div class="zCore_sidebar blog_sidebar">
    <div class="widget_sidebar_box feeds_widget">
        <div class="sidebar_widget_title">
            <h3>Latest Insights</h3>
        </div>
        {% assign counter = 0 %}
        {% for post in site.posts %}
        {% if post.categories contains 'technology' %}
        <div class="feeds_single">
            {% if post.post_image %}
            <div class="feeds_img">
                <img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}">
            </div>
            {% endif %}
            <div class="feeds_info">
                <h6><a href="{{post.url}}">{{post.title}}</a></h6>
                <p><i class="far fa-clock"></i>{{post.date | date_to_long_string }}</p>
            </div>
        </div>
        {% assign counter = counter | plus: 1 %}
        {% endif %}
        {% if counter >= 6 %}
        {% break %}
        {% endif %}
        {% endfor %}
    </div>
</div>
