<!-- Start zCore_sponser section -->
<section class="zCore_sponser zCore_sponser_2 dark_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sponser_slide">
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_6.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_7.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_8.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_9.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_10.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_7.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_9.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="{{relative_url}}/assets/images/sponser_6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sponser_contact_action">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="sponser_contact_box">
                        <div class="contact_box_left bg_color_1">
                            <img src="{{relative_url}}/assets/images/sponser_11.png" alt="">
                        </div>
                        <div class="contact_box_right">
                            <div class="contact_box_info">
                                <i class="fal fa-envelope"></i>
                                <h3>Support Mail</h3>
                                <p>oice and Data Systems are crucial to the success or failure of most businesses. Many companies provide. </p>
                                <h5><a href="mailto:info@webmail.com" class="mailto">info@webmail.com</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sponser_contact_box">
                        <div class="contact_box_left bg_color_2">
                            <img src="{{relative_url}}/assets/images/sponser_12.png" alt="">
                        </div>
                        <div class="contact_box_right">
                            <div class="contact_box_info">
                                <i class="fal fa-envelope"></i>
                                <h3>Support Mail</h3>
                                <p>oice and Data Systems are crucial to the success or failure of most businesses. Many companies provide. </p>
                                <h5>Call Us Now</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_sponser section -->