<!-- Start onova_sponser section -->
<section class="onova_sponser onova_sponser_1 light_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sponser_slide">
                    <div class="single_sponser">
                        <img src="assets/images/sponser_1.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_2.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_3.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_4.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_5.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_1.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_3.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_4.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_5.png" alt="">
                    </div>
                    <div class="single_sponser">
                        <img src="assets/images/sponser_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_sponser section -->