<!-- Start onova_team section -->
<section class="onova_team onova_team_1 blue_bg section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title team_title text-center">
                    <span class="theme_span">angels</span>
                    <h2>Let’s Meet With <br>Our Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img onova_img">
                        <img src="assets/images/team_1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Kelian Williamson</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img onova_img">
                        <img src="assets/images/team_2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Membis Rabon</h3>
                        <p>ceo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img onova_img">
                        <img src="assets/images/team_3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Rosalina D. Pelin</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team_join_button text-center">
            <a href="#" class="onova_btn team_btn_1 wow slideInLeft" data-wow-duration="2s">Join With Us</a>
            <a href="#" class="onova_btn team_btn_2 wow slideInRight" data-wow-duration="2s">Learn more</a>
        </div>
    </div>
</section>
<!-- End onova_team section -->