<!-- Start zCore_team section -->
<section class="zCore_team zCore_team_1 blue_bg section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="theme_title team_title_drk_bg text-center">
                    <span class="theme_span_drk_bg">Crew</span>
                    <h2>Let’s Meet With <br>Our Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="assets/images/people/ezenteno.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Erick Zenteno</h3>
                        <p>Founder & CEO</p>
                    </div>
                </div>
            </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team_box team_box_1">
                      <div class="team_img zCore_img">
                          <img src="assets/images/people/mbastos.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="team_info">
                          <h3>Michael Bastos</h3>
                          <p>Director of Engineering</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team_box team_box_1">
                      <div class="team_img zCore_img">
                          <img src="assets/images/people/mnau.jpeg" class="img-fluid" alt="">
                      </div>
                      <div class="team_info">
                          <h3>Michael Nau</h3>
                          <p>Developer</p>
                      </div>
                  </div>
              </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="assets/images/people/tfreebern.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Tim Freebern</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="assets/images/people/spardue2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Stephen Pardue</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team_box team_box_1">
                    <div class="team_img zCore_img">
                        <img src="assets/images/people/jstrang.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="team_info">
                        <h3>Jeremiah Strang</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team_join_button text-center">
            <a href="/careers" class="zCore_btn_drk_bg team_btn_1 wow slideInLeft" data-wow-duration="2s">Join zCore</a>
            <a href="/about" class="zCore_btn_drk_bg team_btn_2 wow slideInRight" data-wow-duration="2s">Learn more</a>
        </div>
    </div>
</section>
<!-- End zCore_team section -->
