<!-- Start onova_testimonial section -->
<section class="onova_testimonial onova_testimonial_1">
    <div class="testimonial_container">
        <div class="">
            <div class="">
                <div class="testimonial_slide_1">
                    <div class="testimonial_item">
                        <div class="testimonial_img onova_img wow slideInLeft">
                            <img src="assets/images/testimonial_1.png" alt="">
                        </div>
                        <div class="tesimonial_content">
                            <div class="content_title">
                                <span>01</span>
                            </div>
                            <div class="content_box">
                                <h2>Representing all of the <br>major telecom companies <br>Geeks On Call finds the <br>right service.</h2>
                                <p>Their new professional telecom audit service helps businesses maximize the use of their existing technology while ensuring that they are getting the best prices on their voice and tata contracts.</p>
                                <p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services. The major telecom vendors represented compensate Geeks On Call so they can provide the audit at no cost.</p>
                            </div>
                            <div class="content_box">
                                <h3>Rosalind D. Willam</h3>
                                <h6>Founder</h6>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_item">
                        <div class="testimonial_img onova_img">
                            <img src="assets/images/testimonial_1.png" alt="">
                        </div>
                        <div class="tesimonial_content">
                            <div class="content_title">
                                <span>01</span>
                            </div>
                            <div class="content_box">
                                <h2>Representing all of the <br>major telecom companies <br>Geeks On Call finds the <br>right service.</h2>
                                <p>Their new professional telecom audit service helps businesses maximize the use of their existing technology while ensuring that they are getting the best prices on their voice and tata contracts.</p>
                                <p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services. The major telecom vendors represented compensate Geeks On Call so they can provide the audit at no cost.</p>
                            </div>
                            <div class="content_box">
                                <h3>Rosalind D. Willam</h3>
                                <h6>Founder</h6>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_item">
                        <div class="testimonial_img onova_img">
                            <img src="assets/images/testimonial_1.png" alt="">
                        </div>
                        <div class="tesimonial_content">
                            <div class="content_title">
                                <span>01</span>
                            </div>
                            <div class="content_box">
                                <h2>Representing all of the <br>major telecom companies <br>Geeks On Call finds the <br>right service.</h2>
                                <p>Their new professional telecom audit service helps businesses maximize the use of their existing technology while ensuring that they are getting the best prices on their voice and tata contracts.</p>
                                <p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services. The major telecom vendors represented compensate Geeks On Call so they can provide the audit at no cost.</p>
                            </div>
                            <div class="content_box">
                                <h3>Rosalind D. Willam</h3>
                                <h6>Founder</h6>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_item">
                        <div class="testimonial_img onova_img">
                            <img src="assets/images/testimonial_1.png" alt="">
                        </div>
                        <div class="tesimonial_content">
                            <div class="content_title">
                                <span>01</span>
                            </div>
                            <div class="content_box">
                                <h2>Representing all of the <br>major telecom companies <br>Geeks On Call finds the <br>right service.</h2>
                                <p>Their new professional telecom audit service helps businesses maximize the use of their existing technology while ensuring that they are getting the best prices on their voice and tata contracts.</p>
                                <p>The audit includes cell phone, broadband, DSL, local, long-distance, teleconferencing and video conferencing services. The major telecom vendors represented compensate Geeks On Call so they can provide the audit at no cost.</p>
                            </div>
                            <div class="content_box">
                                <h3>Rosalind D. Willam</h3>
                                <h6>Founder</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_testimonial section -->