<!-- Start onova_video section -->
<section class="onova_video onova_video_2 bg_image" style="background-image: url(assets/images/video_bg_2.jpg);">
    <div class="onova_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="onova_left_box">
                    <div class="video_content text-right">
                        <span>intro video</span>
                        <h2>Geeks On Call has been<br>a nationwide leader</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="onova_right_box">
                    <div class="video_content">
                        <p>Geeks On Call has been a nationwide leader of on-site computer support to thousands of businesses for over a decade. Recogniz ing a need for advice with telecom service contracts, this leader in outsourced IT services recently announced a new profession al telecom audit service designed for business of all sizes to save money. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="video_content_img onova_img video_content_img_2">
                    <img src="assets/images/video_3.jpg" class="img-fluid" alt="">
                    <div class="video_button text-center">
                        <a class="play_btn" href="https://www.youtube.com/watch?v=nfs8NYg7yQM"><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_video section -->