<!-- Start onova_video section -->
<section class="onova_video onova_video_1 bg_image" style="background-image: url(assets/images/video_bg.jpg);">
    <div class="onova_overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="theme_title text-center overlay_title">
                    <span class="theme_span">intro video</span>
                    <h2>Voice and Data Systems are <br>crucial to the success.</h2>
                </div>
                <div class="video_button_1 text-center wow slideInUp" data-wow-duration="2s">
                    <a class="play_btn" href="https://www.youtube.com/watch?v=nfs8NYg7yQM"><i class="far fa-play"></i></a>
                </div>
            </div>
        </div>
        <div class="video_image_area">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="video_img onova_img wow slideInLeft" data-wow-duration="1s">
                        <img src="assets/images/video_1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="video_img onova_img wow slideInRight" data-wow-duration="1s">
                        <img src="assets/images/video_2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_video section -->