---
layout: null
---
<!-- Start zCore_video section -->
<section class="zCore_video zCore_video_2 zCore_video_3" style="background-image: url({{ include.bg_image | relative_url }});">
    <div class="zCore_overlay"></div>
    <div class="about_video_main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="video_play text-center">
                        <a href="{{ include.video_url }}" class="play_btn"><i class="fal fa-play"></i></a>
                    </div>
                    <div class="video_content text-center">
                        <span class="theme_span">intro video</span>
                        <h2>{{ include.title }}<br></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End zCore_video section -->
