---
layout: default
title: Careers
pagination:
  enabled: true

---
{% include header_2.html %}
<script type="application/ld+json">
    {% include career.jsonld %}
</script>
{% include page_header_2.html %}
<!-- Start zCore_Open_Position section -->
<section class="zCore_it_service zCore_it_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service_box service_box_1">
                    <div class="bordered_content" style="border: 20px; padding: 20px;">
                        <div class="content_text_area">
                           {{content}}
                        </div>
                        <div class="apply">
                        <div>
                            <button class="zCore_btn"
                                onclick="window.location.href='mailto:ezenteno@zcoregroup.com?subject={{ page.title | url_encode }}&body=Include a copy of your Resume!'">Apply
                                Now</button>
                        </div>
                        <div class="content_share_area" style="text-align: right;">
                            <div class="row">
                                <div class="col-lg-12" style="display: flex;">
                                    <div class="social_area" style="margin-left: auto;">
                                        <h4><a href="https://www.linkedin.com/company/zcoregroup/jobs/view/open-position-id">View on LinkedIn</a></h4>

                                        {% include social_share.html %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End zCore_Open_Position section -->

{% include footer.html %}
