---
layout: default
title: Category Page
pagination: 
  enabled: true
---
{% include header_2.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JNX8SMN6KY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JNX8SMN6KY');
</script>
{% include page_header_2.html %}
<div class="container my-5">
	{% include post_loop_three.html %}
</div>
{% include footer.html %}