# Mock up of Solutions subpages

---
layout: default
title: Tailored Solutions
pagination:
  enabled: true

---
{% include header_2.html %}
{% include page_header_2.html %}
<!-- Start zCore_Solutions single page section -->
<section class="zCore_it_service zCore_it_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service_box service_box_1">
                    <div class="bordered_content" style="border: 20px; padding: 20px;">
                        <div class="content_text_area">
                           {{content}}
                        </div>
                        <div class="content_share_area" style="text-align: right;">
                            <div class="row">
                                <div class="col-lg-12" style="display: flex;">
                                    <div class="social_area" style="margin-left: auto;">
                                        <h4><a href="https://www.linkedin.com/company/zcoregroup/jobs/view/open-position-id">View on LinkedIn</a></h4>

                                        {% include social_share.html %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End zCore_Solutions single page -->

{% include footer.html %}
